html, body {
	/* 	font-family: 'Droid Sans', sans-serif; */
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

h3 {
	font-size: 2em;
	color: #003D50;
}

/* Eliminar líneas de puntos de firefox en selección de botones*/
:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -30px;
}

.section-title-row {
	height: 75px;
	border-bottom: 5px solid #C1D5DF;
	margin-bottom: 15px;
	background-color: #DAE8EF;
}

/**Estilo para título de página de gestión**/
.section-title-management-row {
	background-color: #efecda;
	border-bottom-color: #c1b670;
}

.tooltip {
	z-index: 2000 !important;
}

.ui-widget input, .ui-calendar .hasDatepicker input, input {
	font-size: .9em !important;
	padding-left: 15px;
}

.selectedStyle {
	height: 525px;
}

/*************** DATEPICKER ***************/
.ui-calendar {
	width: 100%;
}

/*************** MODAL ***************/
.modal {
	z-index: 1000;
}

.modal-backdrop {
	z-index: 999;
}

.modal-body {
	max-height: calc(100vh - 212px);
	overflow-y: auto;
}

.small-modal-body {
	overflow-y: inherit;
}

.modal-body input {
	width: 100%;
}

/*************** LABELS ***************/
.label-default {
	background-color: #003D50;
	margin-right: 5px;
}

/*************** TABLE ***************/
.table {
	border-collapse: collapse;
}

.table>thead:first-child>tr:first-child>th {
	border-top: 1px solid #DAE8EF;
}

.table-striped>tbody>tr:nth-child(odd)>td {
	background-color: white;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: rgba(218, 232, 239, 0.3);
}

tr.warning-background {
	background-color: #fffdd8;
}

.ui-datatable .ui-datatable-data td {
	font-size: .9em;
	vertical-align: middle;
	height: 80px;
	border-color: #DAE8EF;
}

.ui-datatable thead th, .ui-datatable tfoot td {
	color: #003D50;
	background-color: #C1D5DF;
	font-size: .9em;
	background-image: none;
	border-radius: 0;
}

.ui-datatable table thead tr th, .ui-datatable table tfoot tr td {
	border: solid 1px #DAE8EF;
}

.ui-widget-header.ui-picklist-caption {
	background: #C1D5DF;
}

.top-buffer {
	margin-top: 20px;
}

.ui-datatable-tablewrapper {
	overflow: hidden;
}

/*************** INPUTS ***************/
.form-control .ui-inputfield {
	margin-top: -5px;
}

.ui-inputtextarea {
	width: 100%;
}

/** Estilo para calendars **/
input[role=textbox] {
	width: 100%;
}

.input-icon {
	font-size: 80px;
}

/***************   ICONS    ***************/
.user-icon {
	font-size: 100px;
	margin-top: 20px;
}

/*************** PAGINATOR ***************/
.ui-paginator {
	background-color: #DAE8EF;
	font-weight: bold;
	font-size: .9em;
	/* 	border-radius: 0; */
	border: 1px solid #C1D5DF;
}

.ui-datatable .ui-paginator {
	padding: 8px;
}

.ui-paginator-bottom {
	/*margin-top: -20px;*/
	/*margin-bottom: 50px;*/
	
}

/*************** COMBOS ***************/
.ui-selectcheckboxmenu-label {
	font-weight: normal;
	font-size: .9em;
	color: #003D50;
	padding-top: 5px;
}

.fakecol .ui-column-customfilter {
	margin-bottom: -4px;
}

.ui-selectcheckboxmenu .ui-icon {
	display: none;
}

.ui-selectonemenu .ui-icon {
	display: none;
}

.ui-selectcheckboxmenu-trigger:before {
	font-family: FontAwesome;
	content: "\f0d7";
	color: #003D50;
}

.ui-selectonemenu-trigger:before {
	font-family: FontAwesome;
	content: "\f0d7";
	color: #003D50;
}

.ui-selectcheckboxmenu-panel {
	font-size: .9em;
}

/*************** TOOLTIPS ***************/
.ui-tooltip {
	font-size: .9em;
	max-width: 350px;
}

/*************** OVERLAY ***************/
.ui-widget .overlay-font {
	font-size: .9em;
	margin-left: 10px;
}

.ui-overlaypanel {
	width: 200px;
}

/*************** STATUS ***************/
.status-correct {
	color: green;
}

.status-new {
	color: green;
}

.status-needs_revision, .status-reparation_process {
	color: #ff9400;
}

.status-expired, .status-incorrect {
	color: #e61980;
}

.status-indeterminate {
	color: #8c8686;
}

.invalid-value {
	color: #e61980;
	font-weight: bold;
}

.invalid-row {
	background-color: #FFB1B1;
	font-weight: bold;
}

.ok-value {
	color: green;
	font-weight: bold;
}

.warning-value {
	color: orange;
	font-weight: bold;
}

.selected-equipment {
	font-weight: bold;
}

.selected-warehouse {
	font-weight: bold;
}

.selected-worker {
	font-weight: bold;
}

.selected-task {
	font-weight: bold;
}

.selected-client {
	font-weight: bold;
}

.selected-group {
	font-weight: bold;
}

.selected-checklist {
	font-weight: bold;
}

.selected-typology {
	font-weight: bold;
}

.selected-type {
	font-weight: bold;
}

.selected-family {
	font-weight: bold;
}

.selected-organization {
	font-weight: bold;
	color: #003D50;
}

.selected-contact {
	font-weight: bold;
}

/*************** FAMILY COMBO ***************/
.selected {
	font-weight: bold;
	border: 2px solid #003D50;
}

.icon-dropdown {
	margin-right: 10px;
}

.ui-autocomplete-input {
	width: 100%;
}

/*************** SPECIAL CUSTOM STYLES ***************/
.btn-columns {
	margin: 0 -30px 10px 10px;
	height: 30px;
}

.btn-table-dropdown {
	margin-top: -15px;
}

.dropdown-menu {
	z-index: 9999 !important;
}

.modal-header {
	background-color: #DAE8EF;
	color: #003D50;
	border-bottom: 5px solid #C1D5DF;
}

.modal-header-title {
	font-weight: bold;
}

.tcheck-panel {
	margin-bottom: 25px;
	margin-left: 15px;
	background-color: #EEF2F7;
	padding: 20px;
	border: 1px solid #D9E3E8;
}

hr {
	color: #C1D5DF;
	background-color: #C1D5DF;
	height: 1px;
}

h3 .badge {
	margin-left: 10px;
	margin-bottom: 3px;
	font-size: .7em;
}

/* causa del !important: primefaces al desaparecer el autocomplete-panel introduce un height: auto que desajusta el panel */
.autocomplete-panel-scroll {
	width: 200px;
	height: 300px !important;
	overflow: scroll;
}

.ui-widget-overlay {
	opacity: .5;
}

.ui-dialog.ui-widget-content {
	border-radius: 0;
}

.ui-dialog.ui-widget-content .ui-dialog-titlebar {
	background-color: #DAE8EF;
	color: #003D50;
	border-bottom: 5px solid #C1D5DF;
	font-size: 1em;
	font-weight: normal;
}

.ui-widget-content .ui-icon {
	/* 	display: none; */
	
}

/* STATUS BADGES */
.badge-ok-status {
	color: #003D50;
	background-color: #DBDB70;
}

.container-ok-status {
	color: #003D50;
	background-color: #DBDB70;
	margin-left: 20px;
}

.container-no-ok-status {
	color: white;
	background-color: crimson;
	margin-left: 20px;
}

.badge-no-ok-status {
	color: white;
	background-color: crimson;
}

.badge-no-status {
	color: #003D50;
	background-color: #DAE8EF;
}

.badge-warning-status {
	color: #003D50;
	background-color: orange;
}

.badge-indetermined-status {
	color: #003D50;
	background-color: #D8D8D8;
}

.badge-closed-status {
	color: #003D50;
	background-color: #D3D3D3;
}

.tcheck-footer {
	height: 190px;
	widht: 100%;
	margin-top: 100px;
	background-color: #003D50;
	border-top: 5px solid #C1D5DF;
	margin-top: 100px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
	.tcheck-footer {
		/* 		margin-left: -20px; */
		/* 		margin-right: -20px; */
		padding-left: 20px;
		padding-right: 20px;
	}
}

.filter-active {
	border: 2px solid #003D50;
}

/* AVATAR IMAGE*/
.avatarImage {
	background-color: #C1D5DF;
	border-color: #C1D5DF;
}

.panelDetail {
	border-color: #C1D5DF;
	background-color: #DAE8EF;
}

.titleTableDetail {
	font-size: 2em;
	color: #003D50;
}

.find-Equipment {
	width: 700px;
	margin: 10px 10px 10px 15px;
}

.find-Organizations {
	width: 700px;
	margin: 10px 10px 10px 15px;
}

.button {
	margin: 0 10px 0 20px;
	outline: none;
	background: none;
	border: 0;
}

.calendar-Input {
	width: 40px;
}

.margin {
	margin: 30px 0 0 0;
}

.types {
	word-break: break-all;
}

.fa {
	margin-right: 5px;
}

.btn .caret {
	margin-right: 3px;
	margin-left: 3px;
}

a:hover {
	color: rgba(0, 61, 80, 0.5);
	text-decoration: none;
	outline: none;
}

a, a:visited, a:active, a:focus {
	color: #003D50;
	text-decoration: none;
	outline: none;
}

#menuClient {
	list-style-type: none;
	margin-top: 10;
	padding: 0;
	background-color: #003D50;
	color: #DAE8EF;
}

.mega-menu {
	background-color: #003D50 ! important;
	color: #DAE8EF ! important;
}

.mega-menu li {
	float: left;
	padding: 3px 0px;
}

.mega-menu li.mega-menu-column {
	
}

.mega-menu .nav-header {
	padding: 0 !important;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.import-button {
	border-color: #C1D5DF;
	background-color: #DAE8EF;
	text-align: center;
	height: 140px;
	margin: 10px;
	padding: 60px;
}

/*Ancho para filtros*/
.ui-column-customfilter input, .ui-column-customfilter div {
	width: 100%;
}

/*Establece una altura fija para los label de los filtros de selección múltiple*/
.ui-selectcheckboxmenu-item label {
	height: 10px;
}

/*************** SELECT ONE MENU ***************/

/** Márgen para el filtro de selectone **/
.ui-selectonemenu-filter {
	margin: 5px;
	width: 95%;
}

.ui-selectonemenu {
	padding-right: 0;
	width: 100%;
}

.ui-selectonemenu-trigger {
	border-radius: 0;
}

.ui-selectonemenu label, .ui-selectonemenu li, .ui-selectonemenu input {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .9em;
}

/**Inputtextarea resizable**/
.unresizable {
	resize: none;
}

.ui-growl {
	z-index: 9999;
}

/*Families tables*/
.ui-widget-header {
	border: 0;
	background: #DAE8EF;
	color: #003D50;
}

.ui-datatable-header .btn {
	padding: 2px;
	font-size: 13px;
}

.hide-column-names thead tr {
	display: none;
}

.menuSticky {
	position: fixed;
	margin-right: 1%;
	right: 0;
}

.menuSticky2 {
	position: fixed;
	margin-right: 1%;
	margin-top: 4%;
	right: 0;
}

.spaceForm {
	margin-bottom: 10px;
}

.ui-commandlink {
	color: black;
}

.ui-treetable {
	border-radius: 5px;
	/*width: 50%;*/
	margin: 0px auto;
	float: none;
}

.ui-treetable>table>tbody>tr>td:first-child {
	padding-left: 10pt;
	padding-top: 10pt;
}

/*Acorta un texto largo*/
.left-ellipsize {
	max-width: 265px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	direction: rtl;
}

.right-ellipsize {
	max-width: 300px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	direction: ltr;
}

.right-ellipsize-button {
	max-width: 150px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	direction: ltr;
}

.right-ellipsize-detail {
	max-width: 600px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	direction: ltr;
}

/*Ancho máximo para file uploader*/
.ui-fileupload-files td {
	max-width: 150px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	direction: ltr;
}

.galleria .ui-widget-content {
	margin-left: 20px;
	border: 0;
	background: #DAE8EF;
}

.uploadImages .ui-widget-content {
	border: 0;
}

.subDropdown {
	margin-left: 12px;
}

.jqplot-target {
	color: #003D50;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: white;
}

.jqplot-series-canvas {
	border: white;
}

.titlePercentDetail {
	font-size: 1.5em;
	color: #003D50;
	margin-left: 7%;
}

.titlePercentDetailOrganization {
	font-size: 1.5em;
	color: #003D50;
	margin-left: 40%;
}

table.jqplot-table-legend, table.jqplot-cursor-legend {
	background-color: rgba(255, 255, 255, 0.6);
	border: 0 solid white;
	font-size: 1em;
	margin-left: 10px;
	float: left;
}

.jqplot-title {
	padding-bottom: 0.5em;
	font-size: 0.75em;
	text-transform: uppercase;
}

.donutChart {
	margin-left: 20%;
}

@media ( max-width : 767px) {
	.donutChart {
		margin-left: 4%;
	}
	.legendDonutChart {
		margin-left: 35%;
	}
}

.families .ui-selectcheckboxmenu-label {
	width: 250px;
	font-size: 12px;
	margin-top: -3px;
	color: #555;
}

.spanLegendBigger {
	color: #000;
	font-size: .6em;
}

.spanLegendSmall {
	color: #000;
	font-size: .5em;
}

.correctBullet {
	color: #04B431;
	font-size: 25px;
}

.correctNewBullet {
	color: #44D86C;
	font-size: 25px;
	margin-left: 30px;
}

.correctRevisionOKBullet {
	color: #078629;
	font-size: 25px;
	margin-left: 30px;
}

.needRevisionBullet {
	color: #FF8000;
	font-size: 25px;
}

.needRevisionBulletSmall {
	color: #F2833A;
	font-size: 25px;
	margin-left: 30px;
}

.reparationProcessBulletSmall {
	color: #C45506;
	font-size: 25px;
	margin-left: 30px;
}

.noCorrectBullet {
	color: #FE2E2E;
	font-size: 25px;
}

.noCorrectRevisionBullet {
	color: #F55656;
	font-size: 25px;
	margin-left: 30px;
}

.expiredBullet {
	color: #B70000;
	font-size: 25px;
	margin-left: 30px;
}

.closeButton {
	float: right;
	font-size: 12px;
	font-weight: bold;
	border: none;
	background: none;
	color: #000;
}

a.check-cancel:hover i::before {
	content: "\f00d";
}

a.check-check:hover i::before {
	content: "\f00c";
}

/** CSS para input type switch en HTML**/
/** https://www.w3schools.com/howto/howto_css_switch.asp **/
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 55px;
	height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
	display: none;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #DAE8EF;
}

input:focus+.slider {
	box-shadow: 0 0 1px #DAE8EF;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}